<header id="navbar" class="l-header" [ngClass]="$showNavbar ? 'show' : ''">
  <nav class="nav bd-grid">
    <div class="nav__toggle" (click)="toggleMenu()">
      <fa-icon [icon]="faBars"></fa-icon>
      <p>Menu</p>
    </div>

    <div class="nav__headline">
      <p>Ernährungsberatung & Training</p>
    </div>

    <div class="nav__social">
      <a href="https://www.instagram.com/ar_healthlife/"  target="_blank" class="nav__icon instagram"><fa-icon [icon]="faInstagram"></fa-icon></a>
      <a href="mailto:fritz.eierschale@example.org" class="nav__icon mail"><fa-icon [icon]="faEnvelope"></fa-icon></a>
    </div>

    <div class="nav__menu" [ngClass]="$showMenu ? 'show' : ''">
      <ul class="nav__list">
        <li class="nav__item"><a href="#about" class="nav__link active">Über mich</a></li>
        <li class="nav__item"><a href="#skills" class="nav__link">Erfahrungen & Fähigkeiten</a></li>
        <li class="nav__item"><a href="#child" class="nav__link">Sport mit Kindern</a></li>
        <li class="nav__item"><a href="#price" class="nav__link">Angebote & Preise</a></li>
        <li class="nav__item"><a href="#contact" class="nav__link">Kontakte</a></li>
      </ul>
    </div>
  </nav>
</header>
