<header id="navbar" class="l-header" [ngClass]="$showNavbar ? 'show' : ''" (focusout)="onFocusOutEvent($event)" *ngIf="!$smallHeader">
  <nav class="nav bd-grid">
    <div class="nav__toggle" (click)="toggleMenu()">
      <fa-icon [icon]="faBars"></fa-icon>
      <p>Menu</p>
    </div>

    <div class="nav__headline">
      <p>Ernährungsberatung & Training</p>
    </div>

    <div class="nav__social">
      <a href="https://www.instagram.com/ar_healthlife/"  target="_blank" class="nav__icon instagram"><fa-icon [icon]="faInstagram"></fa-icon></a>
      <a href="mailto:anna.radetzky@icloud.com" class="nav__icon mail"><fa-icon [icon]="faEnvelope"></fa-icon></a>
    </div>

    <div class="nav__menu" [ngClass]="$showMenu ? 'show' : ''">
      <ul class="nav__list" #navList>
        <li class="nav__item"><a href="#about" class="nav__link" [ngClass]="$activeNavLink[0] ? 'active' : ''">Über mich</a></li>
        <li class="nav__item"><a href="#skills" class="nav__link" [ngClass]="$activeNavLink[1] ? 'active' : ''">Erfahrungen & Fähigkeiten</a></li>
        <li class="nav__item"><a href="#child" class="nav__link" [ngClass]="$activeNavLink[2] ? 'active' : ''">Sport mit Kindern</a></li>
        <li class="nav__item"><a href="#price" class="nav__link" [ngClass]="$activeNavLink[3] ? 'active' : ''">Angebote & Preise</a></li>
      </ul>
    </div>
  </nav>
</header>

<header class="l-header small" *ngIf="$smallHeader">
  <nav class="nav bd-grid">
    <div class="nav__back" [routerLink]="['/']">
      <fa-icon [icon]="faLongArrowAltLeft"></fa-icon>
      <p>Zurück</p>
    </div>

    <div class="nav__headline" [routerLink]="['/']">
      <p>Ernährungsberatung & Training</p>
    </div>

    <div class="nav__social">
      <a href="https://www.instagram.com/ar_healthlife/"  target="_blank" class="nav__icon instagram"><fa-icon [icon]="faInstagram"></fa-icon></a>
      <a href="mailto:anna.radetzky@icloud.com" class="nav__icon mail"><fa-icon [icon]="faEnvelope"></fa-icon></a>
    </div>
  </nav>
</header>
