@import 'src/variables';

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: transparent;
  padding: 0 2rem;

  &.show {
    background-color: var(--background-color);

  }
  &.show > .nav, &.show > .nav__icon {
    color: var(--second-color) !important;
  }

  @media screen and (max-width: 1030px){
    background-color: var(--background-color);
    color: var(--second-color);
    padding: 0;

    & > .nav, & > .nav__icon {
      color: var(--second-color) !important;
    }
  }
}
/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  width: 100%;
  color: var(--background-color);

  &__headline {
    margin: auto;
    cursor: default;
    @media screen and (max-width: 1030px){
      & p {
        width: min-content;
      }
    }
  }
  &__list{
    padding-top: 0;
  }
  &__menu{
    position: fixed;
    top: var(--header-height);
    left: -100%;
    width: 30%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
    @media screen and (max-width: 1030px){
      width: 100%;
    }
    @media screen and (min-width: 1620px){
      width: 20%;
    }
  }
  &__item{
    margin-left: var(--mb-6);
    margin-bottom: var(--mb-6);
  }
  &__link{
    position: relative;
    color: var(--background-color);

    &:hover{
      position: relative;

      &::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 0.18rem;
        left: 0;
        top: 2rem;
        background-color: var(--first-color);
      }
    }
  }
  &__social{
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__icon{
    color: var(--background-color);
    font-size: 1.5rem;
    margin: 0 var(--mb-1);

    &.instagram:hover {
      color: #aa8062  !important;
    }
    &.mail:hover {
      color: #8bb8c1  !important;
    }
  }
  &__toggle{
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: var(--mb-2);
    & p {
      font-size: var(--normal-font-size);
      padding-left: var(--mb-2);
    }
    @media screen and (max-width: 1030px){
      & p {
        display: none;
      }
    }
  }
}
/*Active menu*/
.active::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
/*=== Show menu ===*/
.show{
  left: 0;
}
