<main class="l-main">
  <section class="card profile">
    <div class="card__image">
      <div class="profile__background-overlay">
        <div class="profile__text">
          <h1>Ernährungsberatung</h1>
          <h3>Freizeit- & Fitnesstraining</h3>
        </div>
      </div>
      <img src="/assets/images/liegestütze.jpeg" alt="Liegestütze">
    </div>
    <div class="card__content" id="about">
      <div>
        <h1>Herzlich Willkommen!</h1>
        <p>Ich bin Anna, 23 Jahre alt und setze mich schon mein ganzes Leben mit den Themen Sport & Ernährung auseinander. In den letzten Jahren habe ich es zu meinem Beruf gemacht, Menschen in beiden Bereichen zu begleiten und zu unterstützen.</p>
      </div>
    </div>
  </section>
  <section class="card swap">
    <div class="card__image">
      <img src="/assets/images/anna1.jpg" alt="Anna-Maria Radetzky">
    </div>
    <div class="card__content">
      <h1>Meine Ziele</h1>
      <p>Mein Ziel ist es mit dir eine nachhaltige Basis in deinem Ernährungs- und Sportverhalten zu schaffen, welche es dir anschließend ermöglicht auch ohne Beratung gesund leben zu können. Gemeinsam besprechen wir die nötigen Grundlagen, gehen dabei aber auch auf deine individuellen Bedürfnisse und deinen speziellen Alltag ein.
        Ist dir ein Basistraining nicht genug? Gern vermittle ich anschließend spezifischeres Wissen in gewünschten Inhalten! </p>
    </div>
  </section>
  <section class="card" id="skills">
    <div class="card__image">
      <img src="/assets/images/anna2.jpg" alt="Anna-Maria Radetzky">
    </div>
    <div class="card__content">
      <h1>Meine Erfahrungen & Fähigkeiten</h1>
      <p>Seit circa 5 Jahren trainiere ich selbst leidenschaftlich gern im Fitnessstudio. Auch gearbeitet habe ich circa 3 Jahre lang in zwei verschiedenen Studios. Dabei habe ich mich nicht nur selbst innerhalb des Sportes weiter entwickelt, sondern auch anderen dabei geholfen ihr Training nach ihren Bedürfnissen auszurichten. Liebend gern würde ich auch dich bei deinem Training begleiten. Egal ob du Trainingsanfänger/in bist, du beim Training das Gefühl hast zu stagnieren, Fragen zu der Ausführung verschiedener Übungen hast, oder einfach mal einen neuen Plan brauchst - ich kann dir helfen!</p>
      <h3>Meine Qualifikation</h3>
      <ul class="card__content__skill">
        <li>Oecotrophologie & Sportwissenschaften - Bachelor of Arts</li>
        <li><fa-icon [icon]="faCheck"></fa-icon>Fitnesstrainer B-Lizenz</li>
        <li><fa-icon [icon]="faCheck"></fa-icon>Ernährungsberaterin für Sportler</li>
        <li><fa-icon [icon]="faCheck"></fa-icon>Ernährungsberaterin für Kinder und Jugendliche</li>
        <li><fa-icon [icon]="faCheck"></fa-icon>Fachtrainerin für Sportrehabilitation</li>
      </ul>
    </div>
  </section>
  <section class="card swap" id="child">
    <div class="card__image">
      <img src="/assets/images/anna3.jpg" alt="Anna-Maria Radetzky">
    </div>
    <div class="card__content">
      <h1>Sport mit Kindern</h1>
      <p>Ihr Kind möchte sich mehr bewegen, aber weiß noch nicht welche Sportart ihm/ihr gefällt? Sie möchten keinen festen Platz in einem Verein oder ihr Kind ist zu jung für das Fitnessstudio? Es steht ein Test im Sportunterricht an? Gern probiere ich mit ihrem Kind verschiedene Sportarten aus oder trainiere mit ihm/ihr! Durch mein Studium kann ich Kenntnisse in verschiedenen Ballsportarten, Leichtathletik, Schwimmen, Tanzen, Turnen und Akrobatik vorweisen. Auch bei der Erstanmeldung im Fitnessstudio oder als Personal Trainerin begleite ich sie gern!</p>
    </div>
  </section>
  <section class="pricing" id="price">
    <h1 class="pricing__header">Preise und Angebote</h1>
    <div class="pricing__container">
      <div class="price">
        <div class="price__header">
          <div class="price__header__icon">
            <fa-icon [icon]="faAddressCard"></fa-icon>
          </div>
          <div class="price__header__text">
            <h1>Schnupperstunde</h1>
          </div>
        </div>
        <div class="price__body">
          <ul class="price__body__feature">
            <li class="price__body__feature__item">
              Kennenlernen
            </li>
            <li class="price__body__feature__item">
              90 min
            </li>
          </ul>
        </div>
        <div class="price__footer">
          <h1>70€</h1>
          <button class="button">Kontakt</button>
        </div>
      </div>
      <div class="price">
        <div class="price__header">
          <div class="price__header__icon">
            <fa-icon [icon]="faSeedling"></fa-icon>
          </div>
          <div class="price__header__text">
            <h1>Ernährungsplan</h1>
          </div>
        </div>
        <div class="price__body">
          <ul class="price__body__feature">
            <li class="price__body__feature__item">
              per&shy;sona&shy;lisier&shy;te Er&shy;nährungs&shy;beratung über 4 - 12 Wochen
            </li>
            <li class="price__body__feature__item">
              wöchentliche Sitzung/-en
            </li>
          </ul>
        </div>
        <div class="price__footer">
          <h1>250-400€</h1>
          <button class="button">Kontakt</button>
        </div>
      </div>
      <div class="price">
        <div class="price__header">
          <div class="price__header__icon">
            <fa-icon [icon]="faDumbbell"></fa-icon>
          </div>
          <div class="price__header__text">
            <h1>Fittnesplan</h1>
          </div>
        </div>
        <div class="price__body">
          <ul class="price__body__feature">
            <li class="price__body__feature__item">
              60-90 min Fitness-&shy;/Frei&shy;zeit&shy;training
            </li>
            <li class="price__body__feature__item">
              ab 12 Jahren
            </li>
          </ul>
        </div>
        <div class="price__footer">
          <div class="price__footer__text">
            <h1>30-60€</h1>
          </div>
          <button class="button">Kontakt</button>
        </div>
      </div>
      <div class="price">
        <div class="price__header">
          <div class="price__header__icon">
            <fa-icon [icon]="faStreetView"></fa-icon>
          </div>
          <div class="price__header__text">
            <h1>Individuell</h1>
          </div>
        </div>
        <div class="price__body">
          <ul class="price__body__feature">
            <li class="price__body__feature__item">
              Kombination oder anderer Zeit&shy;rahmen nach Ab&shy;sprache möglich
            </li>
          </ul>
        </div>
        <div class="price__footer">
          <div class="price__footer__text">
            <h1>VB</h1>
          </div>
          <button class="button">Kontakt</button>
        </div>
      </div>
    </div>
  </section>
</main>
