<div class="container">
  <div class="image">
    <img src="assets/images/anna1.jpg" alt="Anna-Maria Radetzky">
  </div>
  <div class="imprint">
    <div class="imprint__block">
      <h1>Angaben gemäß §5 TMG</h1>
      <ul class="imprint__list">
        <li class="imprint__item">
          Anna-Maria Radetzky
        </li>
        <li class="imprint__item">
          Kirchstraße 57
        </li>
        <li class="imprint__item">
          48145 Münster
        </li>
      </ul>
    </div>
    <div class="imprint__block">
      <h1>Kontakt</h1>
      <ul class="imprint__list">
        <li class="imprint__item">
          Telefon: 01727569074
        </li>
        <li class="imprint__item">
          E-Mail: anna.radetzky@icloud.com
        </li>
      </ul>
    </div>
  </div>
</div>





